@import "./common/color.less";
@import "./common/size.less";
@import "./common/rotate.less";

.btn{
	text-align: center;
	padding: 0.5em 1em;
	border-radius: 0.2em;
	cursor: pointer;
	outline:none;
	position: relative;
	transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.btn-styles(@name, @color, @color-hover, @color-active) {
	.btn-@{name} {
		background-color: @color;
 		border: 1px solid @color;
 		color: @color-white;
	}
	.btn-@{name}:hover {
	 	border-color: @color-hover;
	 	background-color: @color-hover;
	}
	.btn-@{name}:active {
	 	background-color: @color-active;
    	border-color: @color-active;
	}
}
.btn-styles(default, @color-default, @color-default-hover, @color-default-active);
.btn-styles(success, @color-success, @color-success-hover, @color-success-active);
.btn-styles(warning, @color-warning, @color-warning-hover, @color-warning-active);
.btn-styles(error, @color-error, @color-error-hover, @color-error-active);

.btn[disabled] {
	border-color: #dcdee2;
	color: #dcdee2;
	background-color: #f7f7f7;
}

.btn-sizes(@name, @size) {
	.btn-@{name} {
		font-size: @size;
	}
}
.btn-sizes(small, @fontsize-small);
.btn-sizes(medium, @fontsize-medium);
.btn-sizes(large, @fontsize-large);

.btn-icon{
	display: inline-block;
	float: left;
	margin-right: 0.5em;
	width: 0.9em;
	height: 0.9em;
}

.btn-text{
	display: inline-block;
	line-height: 0.9em;
	float: left;
}

//icon
.btn-icon-loading{
	background: url(../images/loading.png) no-repeat;
	background-size: contain;
    animation: rotating 1.5s 0s linear infinite;
}

.btn-icons(@name) {
	.btn-icon-@{name} {
		background: url("../images/@{name}.png") no-repeat;
		background-size: contain;
	}
}
.btn-icons(search);
.btn-icons(undo);
.btn-icons(tags);
.btn-icons(stop);

