// type color
@color-default: #2db7f5;
@color-default-hover: #57c5f7;
@color-default-active: #2baee9;
@color-success: #19be6b;
@color-success-hover: #47cb89;
@color-success-active: #18b566;
@color-warning: #ff9900;
@color-warning-hover: #ffad33;
@color-warning-active: #f29100;
@color-error: #ed4014;
@color-error-hover: #f16643;
@color-error-active: #e13d13;


// basic color
@color-gray: #dcdee2;
@color-gray-hover: #c2c3c5;
@color-black: #000;
@color-white: #fff;
@color-light-blue: #3bb4f2;